#parent {
  display: grid;
  justify-content: center;
}

#label_text {
  margin-top: 10px;
  font-size: 40px;
  background-color: aqua;
}

#txt {
  margin-top: 10px;
  height: 50px;
  width: 300px;
}

#label_text1 {
  margin-top: 10px;
  font-size: 40px;
  background-color: grey;
}

#num {
  margin-top: 10px;
  height: 50px;
  width: 300px;
}

button {
  margin-top: 10px;
  height: 60px;
  background-color: #aef2ba;
  border: 0px;
  border-radius: 10%;
  font-size: 30px;
}

body {
  background-color: #ccf3ff;
}
